p{
margin: 0 0 0px;
}
.header{
	width:100%;
	height:10%;
	background-color:#1e88e5;
	box-shadow: 2px 3px 5px #8888888a;
	position:fixed;
	z-index:20;
	
}
.page_nav{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 5%;
	background-color:#ffb22b;
	color:white;
}
.page_nav li a{
	color:white !important;
	 text-decoration: none !important;
}
.page_nav a:hover{
	color:#808080bf !important;
	cursor:pointer !important;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: white;
    content: "/\00a0";
}
.logo{
	display: flex;
    align-items: center;
    justify-content: center;
    width: 307px;
    height: 100%;
    background-color: #1c81d9;
}
.logo p:hover{
	cursor:pointer;
}
.logoer{
	font-size: 45px;
    font-weight: bold;
    font-family: auto;
    height: 100%;
    color: white;
}

.left-menu{
	width: 307px;
    height: 90%;
    background-color: #fdfdfd;
    position: fixed;
    z-index: 18;
    box-shadow: 0px 0px 5px #88888836;
}
.main-menu{
	       background-color: white;
    width: 245px;
    height: 85%;
    position: relative;
    top: 14%;
    left: 10%;
    box-shadow: 1px 0px 5px #88888857;
    border-radius: 3px;
}
.menu{
	    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
        top: 20px;
    width: 100%;
    height: 98%;
padding-left: 0;
}
.menu li{
	width: 80%;
    height: 11%;
    display: flex;
    align-items: center;
    
}
.menu a{
	    margin-left: 24px;
    font-size: 20px;
    text-decoration:none !important;
        color: #666;
}
.menu a:hover{
	cursor:pointer;
	color:#26c6da;
}
.menu span{
	font-size: 15px;
    font-family: unset;
}
.menu i{
	font-size: 25px;
	
}
.activity{
	background-color: #26c6da;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #888888a6;
    
}
.activity a{
	cursor:pointer;
	color:white !important;
}
.option{
	width: 100%;
    height: 80px;
    background-color: #f2f6f8;
    position: relative;
    top: 95px;
    box-shadow: 1px 3px 6px #88888836;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option div{
	width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.option a{
	  text-decoration:none !important;
	  color: #333;
}
.option a:hover{
	cursor:pointer;
	color:#ffb22b;
	
}
.option i{
	font-size: 25px;
}
.mine{
	display:flex;
	align-items: center;
	position: absolute;
    width: 80%;
    left: 20%;
    top: 10%;
    height: 76px;
    background-color: white;
    z-index: 0;
    box-shadow: -1px -1px 5px #918989f5;
}
.menu_user{
	    position: absolute;
        right: 112px;
        color:#5b5b5bb8;
}
.menu_user:hover{
	cursor:pointer;
	
}
.menu_user a{
	text-decoration:none;
} 