     a, a:link, a:hover, a:active, a:visited {
            text-decoration: none;
            color: #666;
        }
        a:hover {
            color: #259;
        }
    .testDIV{
        width: 520px;
        text-overflow:ellipsis;
        white-space:nowrap;
        overflow:hidden;
        }
        	.qes{
	display: flex;
	flex-direction: column;
	    color: #5b5b5b;
}
body{
	color:#5b5b5b;
	background-color:#eef5f9;
}
.qes_demo{
	display: flex;
	flex-direction: row;
	  padding-top: 10px;

    height: 162px;
    margin-bottom: 15px;
        border-radius: 3px;
    
    margin-top:5px;
}
.user{
	display: flex;
	flex-direction: column;
   margin-left: 30px;
   margin-top: 10px;
}
.user_pic{
    
    height: 50px;
    margin-bottom: 20px;
    width: 64px;
    height: 64px;
    margin-left: 15px;
}
.user_name{
	    margin-left: 10px;
    padding-left: 16px;
    font-size: 20px;
    margin-top: 10px;
}
.user_qes{
	    margin-left: 70px;
    
}
.qes_name{
       font-size: 25px;
    font-weight: bold;
}
.qes_time{
	margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.answer{
	display: flex;
	flex-direction: row;
	
	    margin-left: 30px;
    margin-top: 20px;
}
.dealPart{
    display:flex;
    flex-direction:  column;
  
 }
 
  .toolbar {
            border: 2px solid black;
            border-radius: 3px;
        }
        .text {
        border-radius: 3px;
            border: 2px solid black;
            height: 400px;
        }
        
.eval {
	display: flex;
	flex-direction: column;
}

.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.bck_msg {
	display: flex;
	margin-left: 40px;
}

.bck_msg p {
	margin-top: 2px;
	font-size: 20px;
	margin-left: 15px;
	color: gray;
}

.context {
	
}

.context p {
	margin-left: 90px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

.toolbar {
	border: 1px solid #ccc;
}

.text {
	border: 1px solid #ccc;
	height: 50px;
}        
        
        